<body>
      <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <form enctype="multipart/form-data" action="/users/528" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="VH2RFB5QgcT0mbcqXARpF6FNRwPaEggY7EHJ-1tEYwaV-M1vaixwf80pv9nhsMWGGps7s0tS5MsZVDmbAjvxNw" autocomplete="off">

      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="nanashi" name="user[name]" id="user_name">
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
</form>  </div>
</div>

      </div>
      </main>
    



</body>