<main>
<!--<h1>Usres</h1>-->
   <%= render 'user' %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBdXNQIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f67b0e9228362f2b307559baf064a191f383d84c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVZWcFZRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--596aecbd1e45058af6bad2ccaa755120cd0daa59/default-image.jpg"></td>
        <td>nanashi</td>
        <td><%# link_to "Show",user_path %>Show</td>
      </tr>
  </tbody>
</table>
    </div>
  </div>
</div>
</main>

