<p id="notice"></p>
  <div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",size:'100x100',format: 'no_image.jpg' %>
      <table class="table">
  <tbody>
    <tr></tr>
  <tr>
	  <th>name</th>
	  <th><%= current_user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= current_user.introduction %></th>
  </tr>
</tbody></table>

<div class="row">
   <%= link_to edit_user_path(current_user.id), class:"btn btn-outline-secondary btn-block" do %>
    <span>
      <i class="fas fa-user-cog"></i>
  </span>
  <% end %>
</div>
      <h2 class="mt-3">New book</h2>
      <form action="/books" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="Xom-MWoYJWsQ-5DSsDgYEGT2M9GZrB4Xs0m60TVVzYU6zzWH7R45fuN8ZzAl5Ajc8ckLJqdyqUr4NbadhluLpg" autocomplete="off">
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
  </div>
</form>
    </div>