<h1>Books#show</h1> 
<!--booksページのshowページ/投稿後に飛んでくるbook_detailページ-->

<h1>Book detail</h1>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><</td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>