<h1>Books#show</h1>
<main>
 <%= render 'book' %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
   <%# @books.each do |book| %>
   <%#= link_to user_path(@user.id) do %>
   <tr>
   <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg",size:'50x50',format: 'no_image.jpg' %></td>
   <%# end %>
   <td><%#= link_to book_title, book_path(@book.id)%></td>
   <td><%#= book.body %></td>
   </tr>
   <%# end %>
   </table>
    </div>
  </div>
</div>
</main>
