<main>
 <p id="notice"></p>
  <div class="container">
    <div class="row">
     <div class="text-center">
     <h1 class= "px-3 mx-auto">
      	welcome to<i class="fas fa-book"></i><strong>Bookers</strong>  !!
     </h1>
    	</div>
      
     </div>
    </div>
  </div>
</main>
 